*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
   width: 100%;
   height: 100%;
}
.container{
    
    background-color: antiquewhite;
    height: 500px;
    width: 900px;  
    display: grid;
    grid-template-columns: 100px 100px 100px;
}
.p{
    border: 1px solid black;
    background-color: aqua;
    height: 100px; 
    width: 100px; 
}